html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: #eff4fa;
}

a {
  text-decoration: none;
  color: #8395a7;
  transition: color 0.2s;
}

a:hover {
  color: #54a0ff;
}

* {
  box-sizing: border-box;
}
